version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: folha-pagamento-db
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: folha_pagamento
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
